#root {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#map-container {
  height: 100%;
  width: 100%;
  /* temporarily set the background color so we can tell where the map container is positioned */
  background-color: lightgrey;
}

.sidebar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.reset-button {
  position: absolute;
  top: 50px;
  z-index: 1;
  left: 12px;
  padding: 4px 10px;
  border-radius: 10px;
  cursor: pointer;
}

#map {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.marker {
  width: 60px; /* largura padrão, pode ser alterada dinamicamente via JS */
  height: 60px; /* altura padrão, pode ser alterada dinamicamente via JS */
  border-radius: 50%; /* Formato circular */
  border: 5px solid #FF5733; /* Cor e espessura da borda */
  display: flex;
  align-items: center; /* Centraliza a imagem dentro do círculo */
  justify-content: center; /* Centraliza a imagem dentro do círculo */
  background-size: cover; /* Garante que a imagem ocupe o espaço da div */
  cursor: pointer; /* Aponta que é clicável */
}
